<div class="container">
  <div class="main">
    <h2 class="subtitle">Добавить задачу:</h2>
    <input id="inputTask" type="text" class="main__text-task" placeholder="Введите задачу" (keyup.enter)="onAdd()">
    <button class="main__add-task" (click)="onAdd()" >Добавить</button>
  </div>

  <div *ngIf="tasks.length; else noTasks" class="last">
    <h2 class="subtitle">Задачи:</h2>
    <app-list-to-do
      *ngFor="let task of tasks; let idx = index"
      [task]="task"
      [index]="idx + 1"
    ></app-list-to-do>
  </div>

  <ng-template #noTasks>
    <p class="subtitle">Задач ещё нет</p>
  </ng-template>
</div>
